.blogPost a {
  color: #ea4235;
  text-decoration: underline;
}
.postButton {
  padding: 2rem;
  text-align: center;
}
.postButton a {
  padding-bottom: 1rem;
  text-decoration: underline;
}
.post {
  img {
    width: 100%;
  }
  ul,
  ol {
    padding-inline-start: 1rem;
  }
}
