@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-green-500;
    text-decoration: underline;
  }
  a:hover {
    @apply text-green-400;
  }
  img {
    width: 100%;
  }
  ul,
  ol {
    padding-inline-start: 1rem;
  }
  hr {
    margin: 2rem 0;
    border: 1px solid #aaa;
  }
  /* purgecss start ignore */
  /* Markdown Styles */
  /* Global */
  .markdown {
    @apply leading-relaxed text-sm;
  }

  @screen sm {
    .markdown {
      @apply text-base;
    }
  }

  @screen lg {
    .markdown {
      @apply text-lg;
    }
  }

  /* Headers */
  .markdown h1,
  .markdown h2 {
    @apply text-xl my-6 font-bold;
  }
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    @apply text-lg my-3 font-bold;
  }

  @screen sm {
    .markdown h1,
    .markdown h2 {
      @apply text-2xl;
    }
    .markdown h3,
    .markdown h4,
    .markdown h5,
    .markdown h6 {
      @apply text-xl;
    }
  }

  /* Links */
  .markdown a {
    @apply text-blue-500;
  }
  .markdown a:hover {
    @apply underline;
  }
  /* Paragraph */
  .markdown p {
    @apply mb-4;
  }
  /* Lists */
  .markdown ul,
  .markdown ol {
    @apply mb-4 ml-8;
  }
  .markdown li > p,
  .markdown li > ul,
  .markdown li > ol {
    @apply mb-0;
  }
  .markdown ol {
    @apply list-decimal;
  }
  .markdown ul {
    @apply list-disc;
  }
  /* Blockquotes */
  .markdown blockquote {
    @apply p-2 mx-6 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;
  }
  .markdown blockquote > p {
    @apply mb-0;
  }
  /* Tables */
  .markdown td,
  .markdown th {
    @apply px-2 py-1 border border-gray-400;
  }
  .markdown tr:nth-child(odd) {
    @apply bg-gray-100;
  }
  .markdown table {
    @apply mb-6;
  }
  .markdown pre {
    @apply bg-gray-100;
  }
  .markdown :not(pre) > code.language-text {
    white-space: pre-line;
  }
  /* purgecss end ignore */
}
