.headerTitle {
  margin: 3rem 0 0 0;
  font-size: 1.4rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.headerDesc {
  opacity: 0.5;
  font-size: 0.9rem;
}
.navItem {
  display: inline-block;
  margin-top: 0.6rem;
  padding-right: 2rem;
  a {
    text-decoration: underline;
  }
}
