.mainPost {
  margin-bottom: 1.4rem;
}
.time {
  font-size: 0.9rem;
  text-transform: uppercase;
  opacity: 0.8;
}
.excerpt {
  font-size: 1rem;
  margin: 0.5rem 0 1rem;
}
.mainTitle {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
}