.mainPost {
  margin-bottom: 1.4rem;
}
.time {
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 0.8;
}
.excerpt {
  font-size: 0.8rem;
  margin: 0.5rem 0 1rem;
}
.mainTitle {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
}
.tags {
  margin: 4rem 0;
}
