.mainPost {
  margin-bottom: 1.4rem;
}
.time {
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 0.8;
}
.excerpt {
  font-size: 0.9rem;
  margin: 0.5rem 0 1rem;
}
.mainTitle {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0;
  letter-spacing: 1px;
}
.tags {
  margin: 4rem 0;
}
.pages {
  text-align: center;
  padding-top: 20px;
}
.pages li {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}
.pages li:hover {
  font-weight: 700;
}